---
import type { GetStaticPaths } from "astro";
import type { CollectionEntry } from "astro:content";
import { getCollection, render } from "astro:content";
import Layout from "../layouts/Layout.astro";

import type { z } from "zod";
import type { directionsSchema, ingredientSchema } from "../content.config";

type Ingredient = z.infer<typeof ingredientSchema>;
type Direction = z.infer<typeof directionsSchema>;

export const getStaticPaths = (async () => {
  const recipeEntries: CollectionEntry<"recipes">[] =
    await getCollection("recipes");
  return recipeEntries.map((entry) => ({
    params: { slug: entry.id.replace(/\.mdx?$/, "") },
    props: { entry },
  }));
}) satisfies GetStaticPaths;

type Props = Awaited<ReturnType<typeof getStaticPaths>>[number]["props"];

const { entry } = Astro.props as Props;
const { title, ingredients, directions } = entry.data;
---

<Layout title={title}>
  <article>
    <div class="hero-content">
      <div class="text-center">
        <h1>
          <span class="highlight highlight-primary"
            >{title}</span>
        </h1>
      </div>
    </div>

    <div class="container">
      <aside class="bloc-secondaire service-card">
        <h2>Ingrédients</h2>
        {
          ingredients.map((ingredient: Ingredient) => (
            <div>
              {ingredient.step && <h3>{ingredient.step}</h3>}
              <ul>
                {ingredient.list.map((list) => (
                  <li>{list}</li>
                ))}
              </ul>
            </div>
          ))
        }
      </aside>

      <section class="bloc-principal service-card">
        <h2>Instructions</h2>
        {
          directions.map((directions: Direction) => (
            <div>
              {directions.step && <h3>{directions.step}</h3>}
              <ol>
                {directions.list.map((list) => (
                  <li>{list}</li>
                ))}
              </ol>
            </div>
          ))
        }
      </section>
    </div>
  </article>
</Layout>
